/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

button{
	z-index: 9999;
	font-size: 40px;
}

button2{
	z-index: 9999;
	left: 50%;
	font-size: 16px;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container2 {
  margin: 0;
  position: absolute;
  top: 90%;
  width: 100%;
  left: 0%;
  transform: translate(-0%, -0%);
}
